<p>
  <strong>Линия:</strong>
  <%= @post.line_name %>
</p>
<p>
  <strong>Опора:</strong>
  <%= @post.num_tower %>
</p>
<p>
  <strong>Сетевой район:</strong>
  <%= @post.net_region %>
</p>

<%= link_to 'Все посты', posts_path %>
